:root{
    --header-height: 3rem;

    --first-color: #3664f4;
    --dark-color:#070D1f;
    --dark-color-alt: #282b3a;
    --white-color: #e6e7e9;

    --body-font:'Poppins', sans-serif;
    --normal--font-size: .938rem;
    --small-font-size: .813rem;


    --z-fixed: 100;
}


@media screen and (min-width: 768px){
    :root{
        --normal--font-size: 1rem;
        --small-font-size: .875rem;
    
}