


/* viewpoint = 340px or less than that*/
@media only screen and(max-width: 340px){
	.header-area .main-menu .navbar, .header-area .main-menu .navbar .navbar-brand,
	{
		padding: 2%;
		margin: 0;
	}


	.site-main .site-banner .site-title h1{
		font-size: 21px;
	}
	.site-main .about-area{
	padding-top: 1rem;
	
}

}


/* viewpoint = 340px or less than that*/
@media only screen and(max-width: 792px){
	.site-main .about-area .about-title h2 > span{
		font-size: 20px;
		letter-spacing: 10px;
	}

	.site-main .about-area .about-title p{
		padding: 0%;
	}

}


/* viewpoint = 1910px or less than that*/
@media only screen and(max-width: 1910px){
	.header-area .main-menu .navbar{
		padding: 1rem;
	}

	.container{
		max-width: 90%;
	}

	.site-main .about-area{
		padding: 3% 4%;
	} 
}