

@media all  and (max-width: 500px){

	.site-main .site-banner .site-title{
		margin-top: 50px;
	}
	.site-main .site-banner .site-title h4{
		font-size: 1rem;
		text-transform: uppercase !important; 
	}

	.site-main .site-banner .site-title h3{
		font-size: 2rem;
		text-transform: uppercase !important;
		
	}

	.site-main .site-banner .site-title .site-content{
		margin-bottom: 0;
		margin-top: 180px;
	}

	.site-main .site-banner .site-title h1{
		font-size: 2rem;
		text-transform: uppercase !important;
		line-height: 0px;

	}

	.site-main .site-banner .list-social {
		float: left;
		margin-right: 20px;
	  }

	  .progress-wrap{
		position: relative;
		padding-top: 1.5rem;
	  }
	  

	.site-main .site-banner{
		padding-top: 2rem;
		padding-left: 0;
		padding-bottom: 7rem;
		background: var(--backcolor);
	}

}
.site-main .skills-section{
	background: var(--backcolor);
	padding-bottom: 6rem;
}

	.site-main .skills-section h3{
		font-size: 1.2rem;
		font-family: roboto !important; 
	}


	footer.footer-area{
		padding: 1.5rem 0;
	
	}

	footer.footer-area .social a> i{
		font-size: 20px;
		padding: 1rem; 
	}

	footer.footer-area h5{
		text-transform: capitalize !important;
		font-family: roboto !important; 
	}

	footer.footer-area .fa-whatsapp{
		color:#33cc33;
	}

	footer.footer-area .fa-instagram{
		color: red;
	}

	footer.footer-area .fa-twitter{
		color: #00ccff;
	}


	
}



